@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", system-ui;
}
.registerBtn
{
  box-shadow: #FF4C30 0px 3px 10px 0px;
  transition:  all 0.2s ease-in-out;
  /* box-shadow:  12px 10px 5px  ; */
}
.registerBtn:hover
{
  box-shadow: #FF4C30 0px 3px 15px 0px;
  /* box-shadow:  12px 10px 5px  ; */
}
.hero-bg{
  background: url('./public/Images/hero-bg.png') no-repeat;
  background-position: right center;
  min-height: 100vh;
}
